body{
    background-color: grey;
}
.box{
    width:400px;
    height:550px;
    background-color:black;
    margin: auto;
    text-align: start;
}
li{
    list-style: none;
    padding:5px;
    background-color: rgb(203, 203, 203);
    border:1px solid grey;
    margin-top: 10px;
    margin-right: 40px;
   background-color:yellow;
}
input{
    width:275px;
    height:40px;
    margin-left: 37px;
    
}
.plus{
    padding:14px;
    background-color:yellow;
    color:black;
    border: none;
    font-weight: bold;
    
}
.clear{
    background-color: yellow;
    color:black;
    border: none;
    padding:12px;
    font-weight: bold;


}
.clear_part{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.remove{
    display: none;
}
.add_box{
    padding-top: 50px;
}